.todo-container {
  border: solid 2px black;
}

form {
  margin: 20px;
}

.sidebar {
  background-color: rgb(29, 82, 65);
}

.main-content {
  background-color: rgb(220, 250, 215);
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
